@{
  Layout = "_Layout";
}

<div id="homePage">
  <h1>Hang Man</h1>
  <p>|</p>
  <p>|</p>
  <p>|</p>
  <p>|</p>
  <p>|</p>
  <p>|</p>
  <p>|</p>
  <p>|</p>
  <p>|</p>
  <p>|</p>
  <p>|</p>
  <p>|</p>
  <p>|</p>
  <p>|</p>
  <p>|</p>
  <p>|</p>
  <p>V</p>
  <a href="/game" class="myButton">Start Game</a>
</div>
